.container{
    background-color: aquamarine;
    width:90%;
    height:100vh;
    margin:auto;
    box-shadow:2px 2px 5px 0.5px black;
}

h1,h2{
    text-align:center;
}

h2{
    margin-top: 1rem;
}

.container-list{
    width:100%;
    margin-top:8rem;
    

}
.container-list li{
    display:inline-block;
    background-color: blueviolet;
    margin-left: 3rem;
    width:15%;
    

}

